* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #fff;
  --text-contrast: #fff;

  --body-background: #f7f8fa;
  --border-color: #e6e8eb;
  --table-head: #afb2b1;
  --font-color: #808080;
  --anchor-color: #494d4b;

  --green-500: #04d361;

  --purple-300: #9f75ff;
  --purple-400: #9164fa;
  --purple-500: #8257e5;
  --purple-800: #6f48c9;
}

:root.dark {
  --background: #191622;
  --text-contrast: #fff;

  --body-background: #000000;
  --border-color: #403c4a;
  --table-head: #fff;
  --font-color: #fff;
  --anchor-color: #cccccc;

  --green-500: #04d361;

  --purple-300: #9f75ff;
  --purple-400: #9164fa;
  --purple-500: #8257e5;
  --purple-800: #6f48c9;
}

html {
  @media (max-width: 1440px) {
    font-size: 90%;
  }
  @media (max-width: 1366px) {
    font-size: 80%;
  }

  @media (max-width: 1024px) {
    font-size: 60%;
  }
  
  @media (max-width: 375px) {
    font-size: 50%;
  }
}


body {
  background: var(--body-background);
}

body, input, textarea, button {
  font: 500 1rem Inter, sans-serif;
  color: var(--font-color);
}

h1, h2 ,h3, h4, h5, h6 {
  font-weight: 600;
  font-family: Lexend, sans-serif;
  color: var(--anchor-color);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--anchor-color);
}

