.container {
  padding: 3rem 4rem;
  width: 26.5rem;
  height: 100vh;

  background: var(--purple-500);
  color: var(--background);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 768px) {
    position: fixed;
    bottom: 0;

    height: 12rem;
    width: 100%;

    border-radius: 5px 5px 0 0;
  }

  header {
    display: flex;
    align-items: center;
    gap: 1rem;

    @media (max-width: 768px) {
      display: none;
    }
  }

  strong {
    font-family: Lexend, sans-serif;
    font-weight: 600;
  }

  footer {
    align-self: stretch;
  }
}

.emptyContainer {
  @extend .container;

  @media (max-width: 768px) {
    display: none;
  }
}

.playingEpisode {
  text-align: center;

  @media (max-width: 768px) {
    display: none;
  }

  img {
    border-radius: 1.5rem;
  }

  strong {
    display: block;
    padding-top: 2rem;
    padding-bottom: 0.5rem;

    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.875rem;
  }

  span {
    font: 400 1rem Inter, sans-serif;
    color: #dccdff;
  }
}

.emptyPlayer {
  width: 100%;
  height: 20rem;
  border: 1.5px dashed var(--purple-300);
  border-radius: 1.5rem;
  background: linear-gradient(
    143.8deg,
    rgba(145, 100, 200, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );

  padding: 4rem;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    display: none;
  }
}

.progress {
  display: flex;
  align-items: center;
  gap: 1rem;

  font-size: 0.875rem;

  &.empty {
    opacity: 0.5;
  }

  span {
    display: inline-block;
    width: 4rem;
    text-align: center;
  }
}

.slider {
  flex: 1;

  .emptySlider {
    width: 100%;
    height: 4px;
    background: var(--purple-300);
    border-radius: 2px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
  gap: 1.5rem;

  button {
    background: transparent;
    border: 0;
    font-size: 0;
    transform: filter 0.2;

    @media (max-width: 480px) {
      img {
        width: 50%;
        height: 50%;
      }
    }

    &:disabled {
      cursor: default;
      opacity: (0.5);
    }

    &:hover:not(:disabled) {
      filter: brightness(0.7);
    }

    &.isActive {
      filter: invert(0.35) sepia(1) saturate(3) hue-rotate(100deg);
    }

    &.isActive:hover {
      filter: brightness(0.6) invert(0.35) sepia(1) saturate(3)
        hue-rotate(100deg);
    }

    &.playButton {
      width: 4rem;
      height: 4rem;
      border-radius: 1rem;
      background: var(--purple-400);

      &:hover:not(:disabled) {
        filter: brightness(0.95);
      }
    }
  }
}
